@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}
body {
    color: #696969;
    background-image: url(img/cafe_top_05.jpg);
    background-position: 0 -600px;
    background-attachment: fixed;
    font-family:"Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ"," sans-serif";
}
.wrap {
    margin: auto;
    padding-top: 140px;
    width: 100%;
    background-color: #fffae0;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

img {
    vertical-align: bottom;
}


/* ここからナブ */

.nav {
		width: 100%;
    position: fixed;
    z-index: 90;
    top: 0px;
    left: auto;
    background-color: #ffac79;
    color: #fff;
}

.nav_left {
		float: left;
		background-color:  #ffac79;
		padding: 15px 0 25px 40px;
}

.nav_left p {
		text-align: center;
		font-size: 13px;
		line-height: 0.5;
}

.nav_left a:link {
		color: #fff;
}

.nav_left a:visited {
		color: #fff;
}

.nav_left a:hover {
		color: #ff9500;
}

.nav_left a {
		text-decoration: none;
}

.nav_center {
		float: left;
		margin-top: 10px;
		margin-left: 50px;
}

.nav_center p {
		text-align: right;
		line-height: 0;
		margin-right: 50px;
		font-size: 14px;
}

.nav_right {
    float: right;
    padding: 5px;
}

.nav_sns {
    width: 125px;
    margin: auto;
    padding: 5px;
}

.sns_link {
    float: left;
    position: relative;
}

.sns_link a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.sns_link a:hover {
    background-color:#ff9500;
    opacity: 0.7;
}

.instagram a {
    border-radius: 13px;
}

.twitter a {
    border-radius: 40px;
}


.sns_link:nth-child(1) {
    margin-right: 25px;
}

.nav_tel {
    float: left;
    width: 270px;
    text-align: center;
}

.bar li {
    width: 120px;
    text-align: center;
    list-style-type: none;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}

.link a:link {
		color: #fff;
} 

.link a:visited {
		color: #fff;
} 

.link a:hover {
        color: #ff9500;
}


/* ここからメイン */

.ttl {
    font-size: 50px;
    font-weight: bold;
    margin-left: 150px;
}

.ttl_2 {
    margin-left: 150px;
}

/* トップの画像 */

.event_topimage {
    width: 90%;
    height: 600px;
    margin: auto;
    position: relative;
}

.topimage_1 {
    width: 600px;
    position: absolute;
    top: 0px;
    left: 380px;
}

.topimage_2 {
    width: 600px;
    position: absolute;
    top: 80px;
    left: 280px;
    opacity: 0.8;
}

.topimage_3 {
    width: 600px;
    position: absolute;
    top: 160px;
    left: 480px;
    opacity: 0.7;
}

.txt_1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.txt_2 {
    text-align: center;
    margin-bottom: 120px;
}

/* 過去のイベントの様子 */

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}

.h2_p {
    text-align: center;
}

.chekikaoi {
    width: 1140px;
    margin: 0 auto 30px auto;
    padding-top: 10px;
}

.chekibox {
    float: left;
    width: 350px;
    margin: 15px;
}

.cheki {
    width: 300px;
    padding: 30px 25px 10px 25px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 10px 5px #fff6c0;
}

.chekiimage {
    text-align: center;
    padding-bottom: 10px;
}

.chekititle {
    text-align: center;
    font-size: 20px;
}

.chekidata {
    text-align: right;

}

.more {
    text-align: right;
    margin: 5px 20px 0 auto;
    width: 80px;
    border: solid 3px #ffd700;
    border-radius: 10px;
}

.more a {
    text-decoration: none;
    display: block;
    padding: 2px 15px 2px 15px;
    border-radius: 7px;
}

.more a:link {
    color: #696969;
    background-color: #fff6c0;
}

.more a:visited {
    color:#696969;
}

.more a:hover {
    color:#fff;
    background-color: #ffd700;
}

/* ここからフッター */

.footer {
    width: 100%;
    background-color: #ffac79;
    padding: 40px 0 20px 0;
    margin-top: 50px;
}

.margin {
    width: 700px;
    margin: auto;
}

.footer_l {
    float: left;
    width: 300px;
    margin-right: 50px;
    color: #fff;
}

.footer_tel p:nth-child(2) {
    font-size: 30px;
    margin-bottom: 10px;
}

.footer_address p:nth-child(1) {
    margin-bottom: 20px;
}

.footer_address a:link {
    color: #fff;
}

.footer_address a:visited {
    color: #fff;
}

.footer_address a:hover {
    color: #ff9500;
}


table {
    width: 350px;
    float: left;
    color: #fff;
}

th {
    width: 100px;
    padding: 10px 0;
    width: 180px;
}

td {
    width: 250px;
}

.kesu {
		visibility: hidden;
}

.sns {
		width: 200px;
		margin: 20px auto 25px auto;
}

.sns p {
		float: left;
		width: 50px;
		margin: 0 25px;
}

.sns a:hover {
		opacity: 0.7;
}

.footer_nav {
		width: 603px;
		margin: 0 auto 10px auto;
}

.link_2 {
    list-style-type: none;
    float: left;
    width: 150px;
    border-right: solid 1px #fff;
    font-size: 15px;
    text-align: center;
}

.link_2:nth-child(4) {
		border-right: none;
}

.link_2 a:link {
		color: #fff;
} 

.link_2 a:visited {
		color: #fff;
}

.footer_address a:link {
    color: #fff;
}

.link_2 a:hover {
		color: #ff9500;
}

.link_2 a {
		text-decoration: none;
}


.copy {
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

/* トップに戻るボタン */

.btn img {
		position: fixed;
		right: 10px;
		bottom: 10px;
}

